<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhx.apiinterface.mapper.InterfaceMetadataMapper">

    <resultMap id="BaseResultMap" type="com.dhx.apiinterface.gen.InterfaceMetadata">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="interfaceId" column="interface_id" jdbcType="BIGINT"/>
            <result property="interfaceName" column="interface_name" jdbcType="VARCHAR"/>
            <result property="callPath" column="call_path" jdbcType="VARCHAR"/>
            <result property="dataCount" column="data_count" jdbcType="BIGINT"/>
            <result property="isAigc" column="is_aigc" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,interface_id,interface_name,
        call_path,data_count,is_aigc,
        create_time,update_time,is_deleted
    </sql>
</mapper>
