<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhx.apicore.mapper.CallBackMapper">

    <resultMap id="BaseResultMap" type="com.dhx.apicore.model.DO.CallBack">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="interfaceId" column="interface_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="callBackUrl" column="call_back_url" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,interface_id,user_id,
        call_back_url,create_time,update_time,
        is_delete
    </sql>
</mapper>
