<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.api.admin.mapper.InterfaceExampleEntityMapper">
    
    <resultMap type="InterfaceExampleEntity" id="InterfaceExampleEntityResult">
        <result property="id"    column="id"    />
        <result property="interfaceId"    column="interface_id"    />
        <result property="callExample"    column="call_example"    />
        <result property="returnExample"    column="return_example"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <sql id="selectInterfaceExampleEntityVo">
        select id, interface_id, call_example, return_example, create_time, update_time, is_delete from t_interface_example_entity
    </sql>

    <select id="selectInterfaceExampleEntityList" parameterType="InterfaceExampleEntity" resultMap="InterfaceExampleEntityResult">
        <include refid="selectInterfaceExampleEntityVo"/>
        <where>  
            <if test="interfaceId != null "> and interface_id = #{interfaceId}</if>
            <if test="callExample != null  and callExample != ''"> and call_example = #{callExample}</if>
            <if test="returnExample != null  and returnExample != ''"> and return_example = #{returnExample}</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
        </where>
    </select>
    
    <select id="selectInterfaceExampleEntityById" parameterType="Long" resultMap="InterfaceExampleEntityResult">
        <include refid="selectInterfaceExampleEntityVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertInterfaceExampleEntity" parameterType="InterfaceExampleEntity" useGeneratedKeys="true" keyProperty="id">
        insert into t_interface_example_entity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="interfaceId != null">interface_id,</if>
            <if test="callExample != null and callExample != ''">call_example,</if>
            <if test="returnExample != null and returnExample != ''">return_example,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDelete != null">is_delete,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="interfaceId != null">#{interfaceId},</if>
            <if test="callExample != null and callExample != ''">#{callExample},</if>
            <if test="returnExample != null and returnExample != ''">#{returnExample},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDelete != null">#{isDelete},</if>
         </trim>
    </insert>

    <update id="updateInterfaceExampleEntity" parameterType="InterfaceExampleEntity">
        update t_interface_example_entity
        <trim prefix="SET" suffixOverrides=",">
            <if test="interfaceId != null">interface_id = #{interfaceId},</if>
            <if test="callExample != null and callExample != ''">call_example = #{callExample},</if>
            <if test="returnExample != null and returnExample != ''">return_example = #{returnExample},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInterfaceExampleEntityById" parameterType="Long">
        delete from t_interface_example_entity where id = #{id}
    </delete>

    <delete id="deleteInterfaceExampleEntityByIds" parameterType="String">
        delete from t_interface_example_entity where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>